/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: white !important; }

.mat-dialog-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  
  td, th{
    text-align: left !important;  
    }
  
    